[Unit]
Description=Portfolio Performance Bi-directional Sync

[Service]
Type=oneshot
ExecStart=%h/.local/bin/gdrive-bisync %h/Documents/pp gdrive:Bank/Bankdepot/
