// Input device configuration.
// https://yalter.github.io/niri/Configuration:-Input

input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7)
            layout "us,us"
            variant "colemak_dh,"
            options "caps:escape,grp:ctrl_space_toggle"
        }

        // Change speed of keyboard repeat
        repeat-delay 300
        repeat-rate 50

        // Enable numlock on startup
        numlock
    }

    touchpad {
        // Tap-to-click
        tap

        // Invert scrolling direction
        natural-scroll

        // Scale scrolling speed
        scroll-factor 0.4
    }

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    focus-follows-mouse max-scroll-amount="0%"
}
